.organism-rent-roll {
  .add-row-button {
    margin-bottom: 1em;
  }

  .rent-roll-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 0.5em;


    h2 {
      font-size: 24px;
    }

    .rent-roll-column-header {
      text-align: center;
    }

    input {
      width: 90%;
      text-align: end;
    }

    input.text-input {
      text-align: start;
    }

    input.read-only {
      background-color: lightgrey;
    }
  }
}
