$greystoneBlue:#1c6d8a;

.organism-mortgage-terms {
  color:$greystoneBlue;

   margin-top: 2em;
   margin-bottom:2em;

  .mortgage-term-header {
    color:white;
  }

  .mortgage-terms-display {
    display: flex;
    flex-wrap: wrap;

    .term-sheet {
      margin-top: 1em;
      margin-right: 1em;
      padding: 0.25em;
      background-color: white;
      max-width: 45%;
      min-width: 300px;
      font-size: 0.9em;

      .input-with-labels {
        font-size: 1em;

        .input-label {
          min-width: 55%;
          max-width: 35%;
        }

        .input-field-container {
          max-width: 35%;

          input.read-only {
            font-size: 0.9em;
            color:$greystoneBlue;
            background-color: white;
            border: none;
            padding: 0;
          }
        }
      }
    }
  }
}