.organism-mortgageterms {
   margin-top: 2em;
   margin-bottom:2em;

  .mortgage-terms-display {
    display: flex;
    flex-wrap: wrap;

    .term-sheet {
      margin-top: 1em;
      margin-right: 1em;
      padding: 0.25em;
      color: black;
      background-color: white;
      max-width: 30%;
      min-width: 30%;
      font-size: 0.9em;

      .input-with-labels {
        font-size: 1em;

        .input-label {
          min-width: 55%;
          max-width: 35%;
        }

        .input-field-container {
          max-width: 35%;

          input.read-only {
            font-size: 0.9em;
            background-color: white;
            border: none;
            padding: 0;
          }
        }
      }
    }
  }
}