.organism-address-editor {
  margin-top:0.5em;

  .input-with-labels {
    .input-label {
      min-width:4em;
    }
    .input-field-container {
      input {
        min-width:50em;
      }
    }
  }

}